html, body {
    margin: 0;
    height:100%;
    width:100%;
    padding:0;
}

#title{
    background-color: #ff4c68;
    display: block;
    box-sizing: border-box;
    height:100%;
    width:100%;
    color: white;
    padding: 3% 10% 3% 10%;
}

#main{
    text-align: end;
    font-size: 11vw;
    margin-bottom: 0;
}

#sub-main{
    text-align: end;
    font-size: 2vw;
    margin-top: 0;
}

#about{
    background-color: #EED180;
    /* color: white; */
    font-size: x-large;
    font-family: ;

    text-align: center;
    padding: 3% 10% 30% 10%;
}

#activities{
    display: block;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: #ef8172;
    color: white;
    padding: 3% 0 3% 0;
    text-align: center;
}
h5{
    padding: 0 15% 0 15%;
}
#contact{
    
}
#footerr{
    text-align: center;
    padding: 3% 0 1% 0;
}

#footer{
    
    text-align: center;
}

.buffer{
    text-align: end;
    padding-top: 20%;
}